<div class="container padding">
  <h1>Interceptor http</h1>
  <br>
  <button class="btn btn-primary" (click)="sendGetRequest200()">Call - 200</button>
  <hr>
  <button class="btn btn-primary" (click)="sendGetRequest204()">Call - 204</button>
  <hr>
  <button class="btn btn-primary" (click)="sendGetRequest400()">Call - 400</button>
  <hr>
  <button class="btn btn-primary" (click)="sendGetRequest401()">Call - 401</button>
  <hr>
  <button class="btn btn-primary" (click)="sendGetRequest404()">Call - 404</button>
  <hr>
  <button class="btn btn-primary" (click)="sendGetRequest500()">Call - 500</button>
  <hr>
  <button class="btn btn-primary" (click)="sendGetRequest501()">Call - 501</button>
  <hr>
  <button class="btn btn-primary" (click)="sendGetRequest504()">Call - 504</button>

</div>